.button {
    -fx-background-color: rgba(2, 212, 227, 0.0);
}

.button:hover {
    -fx-background-color: rgba(2, 212, 227, 0.0);
    -fx-translate-y: -95;

    -fx-border-image-insets: 0;
    -fx-scale-x: 2.7;
    -fx-scale-y: 2.7;
    -fx-scale-z: 2.7;
}

.button:pressed {
    -fx-background-color: rgba(11, 227, 69, 0.5);
}



